<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUvT1TdDxlnn2p-GhAXZELC6VhjzmSp9w</string>
	<key>GCM_SENDER_ID</key>
	<string>228490520879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mealselection.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mealselection</string>
	<key>STORAGE_BUCKET</key>
	<string>mealselection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228490520879:ios:9008b9dec83c6cc37ed9da</string>
</dict>
</plist>